* {
  box-sizing: border-box;
}

html {
  /* position: relative; */
  background-color: bisque;
}

.firstBlock {
  width: 512px;
  height: 512px;
  background-color: black;
  position: absolute;
  top: 100px;
  left: 100px;
}

.dia {
  position: relative;
  left: 100px;
  top: 100px;
}

.flag {
  width: 80px;
  height: 60px;
  background-color: red;
  position: relative;
  top: 130px;
  left: 220px;
  border-radius: 10px;
  overflow: hidden;
}

.flag_top {
  height: 50%;
  background-color: blue;
}

.flag_bottom {
  height: 50%;
  background-color: yellow;
}

/* secondBlock============================================================================================================================================================== */

.secondBlock {
  height: 512px;
  width: 512px;
  position: absolute;
  top: 500px;
  left: 550px;
  /* background-color: aqua; */
  z-index: 1;
}

.secondBlock_top {
  height: 50%;
  background-color: blue;
}

.secondBlock_bottom {
  height: 50%;
  background-color: yellow;
}

.glyph {
  position: absolute;
  bottom: 139px;
  left: 60px;
}

/* thirdBlock----------------------------------------------------------------------------------------------------------------------------------------- */

.thirdBlock {
  height: 512px;
  width: 512px;
  position: relative;
  top: 900px;
  left: 995px;
  background-color: white;
}

.thirdBlock_inner {
  height: 450px;
  width: 450px;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 30px;
}

.glyph2 {
  position: absolute;
  bottom: 107px;
  left: 28px;
}